@page "/region/{id:int}"
@using System.Diagnostics
@using BlazingPokemon.Shared
@inject IPokemonService PokemonService
@inject NavigationManager Navigation

<div class="page-container">
    <h1 class="region__title">@regionName Pokemon</h1>

    @if (pokemon is not null && pokemon.Any())
    {
        <div class="region__grid">
                @foreach (var p in pokemon)
                {
                    <div class="region__card type-colour-@(p.Type) type-border-colour-@(p.Type)"
                     @onclick="@(() => ViewPokemon(@p.Id))">
                        <img src="@p.Sprite.Other.OfficalArtwork.ImageUrl" class="region__card-image" />
                        <div class="region__card-name">
                            <span class="title">@p.Name?.ToTitleCase()</span>
                            <span>#@p.Id.ToString("D3")</span>
                        </div>
                        <span class="region__card-desc"><b>@p.Type.ToTitleCase()</b></span>
                    </div>
                }
        </div>
    }

    <Loader IsLoading="@isLoading"></Loader>

    <button @onclick="() => LoadPokemon()">@(isLoading ? "Loading..." : "Load More")</button>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    string regionName = string.Empty;
    List<Pokemon> pokemon = new();
    bool isLoading = true;

    protected override async Task OnParametersSetAsync()
    {
        regionName = PokemonService.GetRegionName(Id);
        await LoadPokemon(true);
    }

    private async Task LoadPokemon(bool firstLoad = false)
    {
        isLoading = true;

        if (firstLoad)
        {
            pokemon = new();
        }

        pokemon.AddRange(await PokemonService.GetPokemonByRegionId(Id, firstLoad));

        isLoading = false;
    }

    private void ViewPokemon(int id)
    {
        Navigation.NavigateTo($"/pokemon/{id}");
    }
}